<div class='container'>
<h1> <strong> Full Student Info</h1></strong>
<hr>

<p><strong>Name:</strong> <%= @student.firstname %> <%=@student.lastname %></p>
<p><strong>Age: </strong><%@student.age %></p>
<p><strong>Education:</strong> <%= @student.educationPeak %>
</p>

<%= link_to 'Back', students_path %>
</div>